@mixin respond-to($media) {
  @if $media == phones {
    @media only all and (max-width: 479px) { @content; }
  }
  @else if $media == wide-phones {
    @media all and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media all and (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $media == small-desktops {
    @media all and (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $media == lg-desktops {
    @media all and (min-width: 1200px) and (max-width: 1440px) { @content; }
  }
  @else if $media == xlg-desktops {
    @media all and (min-width: 1441px) and (max-width: 1920px) { @content; }
  }
  @else if $media == max {
    @media all and (min-width: 1920px){ @content; }
  }
}

@mixin display($type, $wrap, $justify-content, $align-items,$align-self)
{
  @if $type == "row"
  {
    display: flex;
    flex-flow: $type $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-self: $align-self;
  }
  @else if $type == "column"
  {
    display: flex;
    flex-flow: $type $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-self: $align-self;
  }
}